<ion-view view-title="Login" name="login-view" >
  <ion-content class="" style="background-color:#3aab9f">
      <img src="img/login.png" style="width:100%;margin-bottom: 30px">
      <center>
      <p style="color: white">Sign in with your username and password</p></center>
      <br>
      <div class="list list-inset" >
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
      </div>
      <br>
      <center>
      <button class="button button-calm" ng-click="login()" style="padding-left: 60px;padding-right: 60px">Login</button></center>
      <!--<p>App version: {{app_version}}</p>-->
  </ion-content>
</ion-view>