<ion-view>
    <ion-modal-view>
      <ion-content class="">
        <h4 class="title inline padding">Application Detail</h4>
        <a class="inline" style="float: left;" ng-click="closeModal($event)"><img style="width:80px;text-align: left;" src="img/back.png"></a>
        <div class="row">
          <div class="card padding" style="width:100%">
            <br>
            <img  style="margin-left: 20px" src="img/user.png" >
            <div class="table-responsive clearfix padding">
                <table class="table table-striped">
                  <tr>
                  </tr>
                  <tr>
                    <th>Name</th>
                    <td class="text-green">{{request.user.name}}</td>
                  </tr>
                  <tr>
                    <th>Type</th>
                    <td class="text-green">{{request.app_kind}}</td>
                  </tr>
                  <tr>
                    <th>Date & Time</th>
                    <td class="text-green">{{request.date}}</td>
                  </tr>
                  <tr>
                    <th>Location</th>
                    <td class="text-green">{{request.user.city}}</td>
                  </tr>
                  <tr>
                    <th>Basic Salary</th>
                    <td class="text-green">RM {{request.user.salary}}</td>
                  </tr>
                  <tr>
                    <th>Brand</th>
                    <td class="text-green">{{request.car.brand}}</td>
                  </tr>
                  <tr>
                    <th>Price</th>
                    <td class="text-green">RM {{request.car.price}}</td>
                  </tr>
                </table>
            </div>
            <br>
        </div>
        </div>
        <div class="row">
          <div class="col">
          <a  ng-click="gotoChat(request.user_id)" href="#/tab/chats/{{request.user_id}}" style="text-decoration: none"><button class="button button-full button-calm rounded-corner">
            <span style="font-size: 12px"><img style="width:5%" src="img/message.png"> Message this Customer</span>
            </button></a>
          </div>
        </div>
      </ion-content>
    </ion-modal-view>
</ion-view>