<ion-view view-title="Account">
  <ion-content>
    <br><br>
    <div class="center">
        <h3>Product 1</h3>
        <br>
        <div class="button-bar">
          <a class="button button-calm" ng-click="showinfo()" ng-class="tab_info">Info</a>
          <a class="button button-calm" ng-click="showdetails()" ng-class="tab_details">Details</a>
          <a class="button button-calm" ng-click="showbrochure()" ng-class="tab_brochure">Brochure</a>
        </div>
        <br>
        <div ng-if="info" class="padding">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eget purus dictum, lacinia nibh a, blandit ex. Donec at ullamcorper mi. In pretium venenatis malesuada. Quisque nisi libero, dictum vel lobortis id, viverra ac libero. Nulla id elit finibus, vulputate tortor eu, consectetur ex. Morbi hendrerit urna eget felis eleifend consequat. Sed pretium elementum tellus ac efficitur. Donec dapibus sagittis felis, nec hendrerit massa pretium sit amet. Integer finibus, ex at blandit hendrerit, lectus nulla porttitor felis, et euismod libero nibh egestas felis. Nulla sit amet efficitur odio. In egestas diam nisl, quis elementum quam molestie in.<br><br>

Suspendisse tempus ipsum nec sagittis iaculis. Praesent ac magna in enim euismod cursus. Fusce rutrum at lorem quis tempor. Fusce sollicitudin lacus vel risus varius, eu dignissim ipsum congue. Sed ac hendrerit sem, nec vestibulum quam. Mauris consequat fringilla arcu ac eleifend. Aliquam et elit risus. Proin sagittis nibh in gravida condimentum. Phasellus fringilla magna a dapibus hendrerit. Nulla cursus nulla ut dui pellentesque, vel hendrerit urna ornare.
<br><br>
Integer sed odio quis urna imperdiet eleifend. Phasellus egestas sagittis nisi non pellentesque. Morbi vehicula felis id nibh commodo, vitae auctor neque interdum. Ut eget tellus sed nibh finibus placerat. Etiam consectetur erat eu sem mollis faucibus. Donec ut sollicitudin tortor. Curabitur tempus porttitor arcu.
          </p>
        </div>
        <div ng-if="details" class="padding">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eget purus dictum, lacinia nibh a, blandit ex. Donec at ullamcorper mi. In pretium venenatis malesuada. Quisque nisi libero, dictum vel lobortis id, viverra ac libero. Nulla id elit finibus, vulputate tortor eu, consectetur ex. Morbi hendrerit urna eget felis eleifend consequat. Sed pretium elementum tellus ac efficitur. Donec dapibus sagittis felis, nec hendrerit massa pretium sit amet. Integer finibus, ex at blandit hendrerit, lectus nulla porttitor felis, et euismod libero nibh egestas felis. Nulla sit amet efficitur odio. In egestas diam nisl, quis elementum quam molestie in.
          </p>
        </div>
        <div ng-if="brochure" class="padding">
          <div class="row">
              <div class="col">
                <a ng-click="Goto()"><img src="img/icon.png" class="size-small"></a>
              </div>
              <div class="col">
                <a ng-click="Goto()"><img src="img/icon2.png" class="size-small"></a>
              </div>
          </div>
          <div class="row">
              <div class="col">
                <a ng-click="Goto()"><img src="img/icon3.png" class="size-small"></a>
              </div>
              <div class="col">
                <a ng-click="Goto()"><img src="img/icon4.png" class="size-small"></a>
              </div>
          </div>
        </div>
    </div>
  </ion-content>
</ion-view>
