<ion-view view-title="BR Financial Agent">
  <ion-content class="">
    <ion-list class="">
      <div class="item item-divider new-item-divider">
        In Process Applications
      </div>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="request in inprocess" type="item-text-wrap"
      ng-click="openModal(request)">
        <div class="row">
          <div class="col">
            <img src="img/user.png" >
          </div>
          <div class="col col-50">
            <h4>{{request.user.name}}</h4>
            <p class="font-small">{{request.app_kind}}</p>
            <p class="font-small">{{request.user.city}}    RM{{request.car.price}}</p>
          </div>
          <div class="col">
            <img src="img/play.png" >
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
  <script id="my-modal.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar>
        <h1 class="title">Application</h1>
        <button class="button button-assertive" ng-click="closeModal($event)">
         x
        </button>
      </ion-header-bar>
      <ion-content class="">
        <center>
        <img class="" ng-src="{{request.face}}" >
        <h2>{{request.user.name}}</h2>
        <p>{{request.app_kind}}</p>
        <p>{{request.user.city}}</p>
        <p><strong>Basic Salary</strong></p>
        <p>RM3200</p>
        <p><strong>Salary Slip</strong></p>
        <button class="button button-dark" ng-click="closeModal($event)">
         View
        </button>
        <p><strong>EPF Statement</strong></p>
        <button class="button button-dark" ng-click="closeModal($event)">
         View
        </button>
        <p><strong>Supporting Documents</strong></p>
        <p>None</p>
        <p><strong>Customer Link</strong></p>
        <p><a href="http://dext.com.my/br-marketplace-app/#/tab/dash">http://dext.com.my/br-marketplace-app/#/tab/dash</a></p>
        <button class="button button-dark" href="#/tab/chats/{{request.id}}">
         Message This Customer
        </button>
        </center>
      </ion-content>
    </ion-modal-view>
  </script>
</ion-view>