<ion-view view-title="Account">
  <ion-content>
    <ion-list>
    <div class="card padding">
        <a href="#/tab/product" class="item item-icon-left">
          <i class="icon ion-home"></i>
          <h2>Product 1</h2>
          <p>Product details</p>
        </a>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
