<ion-view view-title="BR Financial Agent">
  <ion-content class="">
    <ion-list class="">
      <div class="item item-divider new-item-divider">
        All Applications
      </div>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="request in total" type="item-text-wrap"
      ng-click="openModal(request)">
        <div class="row">
          <div class="col">
            <img src="img/user.png" >
          </div>
          <div class="col col-50">
            <h4>{{request.user.name}}</h4>
            <p class="font-small">{{request.app_kind}}</p>
            <p class="font-small">{{request.user.city}}    RM{{request.car.price}}</p>
          </div>
          <div class="col">
            <img src="img/play.png" >
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>