<ion-view view-title="Dashboard">
  <ion-content class="padding" style="background-color: #f7f7f9">
    <div>
      <ion-slide-box>
        <ion-slide>
          <div class="padding">
            <div class="text-center bg-white">
              <p class="font-small colortop">Total Application</p>
              <h2 style="margin-top:0px">{{total.length}}</h2>
            </div>
          </div>
          <br><br>
        </ion-slide>
        <ion-slide>
          <div class="padding">
            <div class="bg-white text-center">
              <p class="font-small colortop">New Application</p>
              <h2 style="margin-top:0px">{{new.length}}</h2>
            </div>
          </div>
          <br><br>
        </ion-slide>
        <ion-slide>
          <div class="padding">
            <div class="bg-white text-center">
              <p class="font-small colortop">In Processed</p>
              <h2 style="margin-top:0px">{{inprocess.length}}</h2>
            </div>
          </div>
          <br><br>
        </ion-slide>
        <ion-slide>
          <div class="padding">
            <div class="bg-white text-center">
              <p class="font-small colortop">Rejected Application</p>
            <h2 style="margin-top:0px">{{rejected.length}}</h2>
            </div>
          </div>
          <br><br>
        </ion-slide>
      </ion-slide-box>
    </div>
    <div class="button-bar">
      <a class="button button-positive" ng-click="onClickTab(new)" ng-class="tab_new">New</a>
      <a class="button button-positive" ng-click="onClickTab(inprocess)" ng-class="tab_inprocess">In Process</a>
      <a class="button button-positive" ng-click="onClickTab(rejected)" ng-class="tab_rejected">Rejected</a>
    </div>
    <ion-list class="">
      <ion-item class="" ng-repeat="request in requests | limitTo:5" type="item-text-wrap"
      ng-click="openModal(request)">
      <div class="row">
        <div class="col">
          <img src="img/user.png" >
        </div>
        <div class="col col-50">
          <h4>{{request.user.name}}</h4>
          <p class="font-small">{{request.app_kind}}</p>
          <p class="font-small">{{request.user.city}}    RM{{request.car.price}}</p>
        </div>
        <div class="col">
          <img src="img/play.png" >
        </div>
      </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>