<ion-view view-title="Chats">
  <ion-content>
    <ion-list>
      <ion-item class="" ng-repeat="chat in chatmessage" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <div class="row">
        <div class="col">
          <img src="img/user.png" >
        </div>
        <div class="col col-75">
          <h4>{{chat.name}}</h4>
          <p class="font-small">{{chat.lastText}}</p>
        </div>
        <div class="col">
          <i class="icon ion-chevron-right icon-accessory"></i>
        </div>
      </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
