<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="right">
    <ion-header-bar class="bar-stable bar-positive">
      <h1 class="title">{{fa_name}}</h1>
    </ion-header-bar>
    <ion-content>
      <div class="item-profile bg-red">
        <div class="item-avatar">
          <img class="center" src="img/man.png" style="margin-left:70px">
        </div>
      </div>
      <ion-list>
        <ion-item menu-close href="#/tab/dash">
          Dashboard
        </ion-item>
        <ion-item menu-close href="#/tab/new">
          New
        </ion-item>
        <ion-item menu-close href="#/tab/inprocess">
          In Process 
        </ion-item>
        <ion-item menu-close href="#/tab/total">
          Total
        </ion-item>
        <ion-item menu-close href="#/tab/rejected">
          Rejected
        </ion-item>
        <ion-item menu-close href="#/tab/chats">
          Chats
        </ion-item>
        <!-- ion-item menu-close href="#/tab/account">
          My Products
        </ion-item -->
        <ion-item menu-close href="#/login">
          Log Out
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>

