/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

$positive:                        #dc5d3c !default;
$assertive:                       #ef473a !default;
$stable:                          #f8f8f8 !default;
$calm:                            #461a66 !default;
// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.otf');
}
p,h1,h2,h3,h4,h5,button,a,td,th,input,div{
  font-family: 'Montserrat-Regular';
}
.no-margin {
  margin: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
.pending-item-divider.item-divider {
  background-color: #336688;
  color: white;
}
.new-item-divider.item-divider {
  background-color: indianred;
  color: white;
}
.approved-item-divider.item-divider {
  background-color: lightseagreen;
  color: white;
}
.red {
  color : indianred;
}
.bg-red {
  background-color : indianred;
}
.green {
  color : lightseagreen;
}
.blue {
  color : #336688;
}
.margin-right-small {
  margin-right: 10px;
}
.font-small {
  font-size: 12px;
}
.font-medium {
  font-size: 20px;
}
.size-small {
  width: 120px;
}
h2{
  /*color:white;*/
}
.item-profile {
  height: 150px;
  .item-avatar > img:first-child {
    max-width: 100px;
    max-height: 100px;
  }
}
.center {
    text-align:center;
}
.center-image{
      margin:0 auto;
      max-width: 80px !important;
      max-height: 80px !important;
}
.messages {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-align-content: center !important;
  -ms-flex-line-pack: center !important;
  align-content: center !important;
  -webkit-box-align: center !important;
  -moz-box-align: center !important;
  -webkit-align-items: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  margin-bottom: 20px !important;
  .message {
    -webkit-box-flex: 1 !important;
    -moz-box-flex: 1 !important;
    -webkit-flex: 1 1 auto !important;
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
    padding: 10px !important;
    -webkit-transition: all 250ms ease-in-out !important;
    transition: all 250ms ease-in-out !important;
    overflow: hidden !important;
    text-align: left !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    -moz-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
  }
}
.time {
  -webkit-box-flex: 0 !important;
  -moz-box-flex: 0 !important;
  -webkit-flex: 0 1 auto !important;
  -ms-flex: 0 1 auto !important;
  flex: 0 1 auto !important;
  -webkit-align-self: auto !important;
  -ms-flex-item-align: auto !important;
  align-self: auto !important;
  width: 120px !important;
  text-align: center !important;
  padding: 0 0 0 0 !important;
  -webkit-transition: all 250ms ease-in-out !important;
  transition: all 250ms ease-in-out !important;
  -webkit-transform: translate3d(10px, 0, 0) !important;
  -moz-transform: translate3d(10px, 0, 0) !important;
  transform: translate3d(10px, 0, 0) !important;
  &.slide-right {
    -webkit-transform: translate3d(130px, 0, 0) !important;
    -moz-transform: translate3d(130px, 0, 0) !important;
    transform: translate3d(130px, 0, 0) !important;
  }
}
//This will change
.messages.other {
  .message {
    -webkit-transform: translate3d(0, 0, 0) !important;
    -moz-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
    text-align: right !important;
  }
  .message.slide-right {
    -webkit-transform: translate3d(120px, 0, 0) !important;
    -moz-transform: translate3d(120px, 0, 0) !important;
    transform: translate3d(120px, 0, 0) !important;
  }
  span {
    color: white !important;
    background-color: #007AFF !important;
  }
}
.message-span {
  background: #C7C7CC !important; 
  display: inline-block !important;
  color: black !important;
  padding: 10px !important;
  border-radius: 10px !important;
  text-align: left !important;
  max-width: 240px !important;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color:#4d4d4d;
}

td, th {
    border: 1px solid white;
    text-align: left;
    padding: 8px;
}
.border{
  border:2px solid #3aab9f;
  border-radius : 10px;
  padding:0px;
}
.text-green{
  color: #3aab9f;
}
.colortop{
  background-color: #3aab9f;
  border-radius : 5px 5px 0px 0px;
  color:white;
  padding-bottom: 10px;
  padding-top:5px
}
.bg-white{
  background-color: white;
  padding-bottom: 10px;
}
.rounded-corner{
  border-radius: 10px;
}