/* Empty. Add your own CSS if you like */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color:#4d4d4d;
}

td, th {
    border: 1px solid #4d4d4d;
    text-align: left;
    padding: 8px;
}